.container {
  padding: 1rem 2rem;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  color: #161616;
  margin-bottom: 2rem;
}

.table {
  background: white;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
}
